.services {
	padding-top: 24px;
	margin-top: -24px;
	margin-bottom: 300px;
}

@media screen and (max-width: 1150px) {
	.services {
		margin-bottom: 64px;
	}
}

.services > .container {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

@media screen and (max-width: 1360px) {
	.services > .container {
		display: grid;
	}
}

.services__content {
	transform: translate3d(0, 140px, 0);
}

@media screen and (max-width: 1360px) {
	.services__content {
		transform: translate3d(0, 0, 0);
	}
}

.services__title {
	color: rgba(255, 255, 255, 0.2);
	font-family: Bird House Script;
	font-size: 80px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media screen and (max-width: 544px) {
	.services__title {
		text-align: center;
	}
}

.services__text {
	color: #fff;
	font-family: Thiket Regular;
	font-size: 96px;
	font-style: normal;
	font-weight: 400;
	line-height: 91.667%;
	letter-spacing: -1.92px;
}

@media screen and (max-width: 1360px) {
	.services__text {
		font-size: 7.05vw;
	}
}

@media screen and (max-width: 960px) {
	.services__text {
		margin-bottom: 32px;
	}
}

@media screen and (max-width: 544px) {
	.services__text {
		text-align: center;
	}
}

.services__image {
}

.services__image > img {
}

@media screen and (max-width: 1360px) {
	.services__image > img {
		width: 100%;
	}
}
